body {
  color: darkslategrey;
  background:bisque;
}
a {
  color:darkgreen;
}
a:visited {
  color: darkgreen;
}
a:hover {
  color: orangered;
  text-decoration: none;
}
li a {
  color:darkgreen;
}
li a:visited {
  color: darkgreen;
}
li a:hover {
  color: orangered;
  text-decoration: none;
}
